.col-8 {background-color: lightgray;
        font-family: $anton; }
.col-4 {background-color: #ecf0f1; }

.alert-primary {width: 41rem;}
.alert-success {width: 35rem;}
.alert-danger {width: 29rem;}
.alert-warning {width: 23rem;}
.alert-info {width: 17rem;}
.alert-light {width: 11rem;}